
@Model IList<SearchWeb.Models.Setting>

    @{
        ViewBag.Title = "Home Page";
    }
                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        #SearchBox {
            width: 100%;
            max-width: 80%;
            background-image: url(../../Content/Icons/search.png);
            background-repeat: no-repeat;
            background-size: 25px 25px;
            padding-left: 26px;
        }
    </style>

    <script>

        $(function ()
        {

            $('#SearchBox').autocomplete({ 
            source: '@Url.Action("Autocomplete","Home")' 
            }); 


   

            console.log("ready!");
            $('#SearchBox').keypress(function (e) {
                if (e.which == 13) {

                    var searchString = $('#SearchBox').val();
                    $.ajax({
                        url: '@Url.Action("FilterSettings","Home")',
                        contentType: "application/json; charset=utf-8",
                        data: { 'searchString': searchString },
                        cache: true,
                        success: function (data) {
                            $('#searchResult').html(data);
                        },
                        statusCode: {
                            404: function (content) { alert('cannot find resource'); },
                            500: function (content) { alert('internal server error'); }
                        },
                        error: function (req, status, errorObj) {
                            // handle status === "timeout"
                            // handle other errors
                        }
                    });
                }
               
                });
});
    </script>

    <div class="">
        <h1>ASP.NET</h1>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8"><input type="text" id="SearchBox" /> </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary createsetting" })
            </div>
        </div>

        @*<div id="searchResult">

            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Setting Name</th>
                        <th>Setting Value</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                foreach (var col in Model)
                {
                    <tr>
                        <td>@col.GroupName</td>
                        <td>@col.SettingName</td>
                        <td>@col.SettingValue</td>
                    </tr>
        }
                    }
                </tbody>

            </table>
        </div>*@

        <div id="searchResult">
              @Html.Partial("Settings");
            </div>

    </div>
